.clearfix.light
  .pull-left.fetch-status
    Fetched from GitLab (#{link_to current_user.url, current_user.url, no_turbolink})
    - if params[:search].present?
      by keyword: "#{params[:search]}",
    #{time_ago_in_words(current_user.sync_at)} ago.
    = link_to gitlab_projects_path(reset_cache: true, search: params[:search]), remote: true, class: 'sync-now btn btn-small btn-default' do
      %i.icon-refresh
      Sync now
    %br

  .pull-right
    #{@total_count} projects, #{@projects.size} of them added to CI
%br

%table.table.projects-table
  %thead
    %tr
      %th ID
      %th Project Name
      %th Last commit
      %th Access
      %th Commits

  = render @projects

  - @gl_projects.sort_by(&:name_with_namespace).each do |project|
    %tr.light
      %td
        \-
      %td
        = project.name_with_namespace
      %td
        %small Not added to CI
      %td
      %td
        - if Project.already_added?(project)
          %strong.cgreen
            Added
        - else
          = form_tag projects_path do
            = hidden_field_tag :project, project.to_yaml
            = submit_tag 'Add project to CI', class: 'btn btn-default btn-small'

%ul.pagination.gitlab-projects-pagination
  - if @page > 1
    %li
      = link_to gitlab_projects_path(page: @page - 1), class: 'btn', remote: true do
        %i.icon-angle-left
        Previous
  &nbsp;
  - if @total_count == @per_page
    %li
      = link_to gitlab_projects_path(page: @page + 1, search: params[:search]), class: 'btn', remote: true do
        Next
        %i.icon-angle-right

:coffeescript
  $('.gitlab-projects-pagination').on 'ajax:before', ->
    $('.projects').html('<h1><i class="icon-spinner icon-spin"/></h1>')
