.search
  = form_tag "#", method: :get, class: 'navbar-form' do |f|
    .form-group
      .input-group
        = search_field_tag "search", params[:search], placeholder: "Search", class: "search-input form-control"
        .input-group-addon
          %i.icon-search


:coffeescript
  $('.search .navbar-form').submit ->
    query = $('.search .navbar-form .search-input').val()
    $.get '#{gitlab_projects_path}' + '?search=' + query
    false